[submodule "extra/libbpf/libbpf_repo"]
	path = extra/libbpf/libbpf_repo
	url = https://github.com/libbpf/libbpf
[submodule "extra/zlog"]
	path = extra/zlog
	url = https://github.com/HardySimpson/zlog.git
[submodule "extra/userspace-rcu"]
	path = extra/userspace-rcu
	url = git://git.liburcu.org/userspace-rcu.git
[submodule "extra/zstd"]
	path = extra/zstd
	url = https://github.com/facebook/zstd.git
