[submodule "extra/vendor/prometheus-client-c"]
	path = extra/vendor/prometheus-client-c
	url = https://github.com/wubo0067/prometheus-client-c.git
[submodule "extra/vendor/libconfig"]
	path = extra/vendor/libconfig
	url = https://github.com/hyperrealm/libconfig.git
[submodule "extra/vendor/pcre2"]
	path = extra/vendor/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "extra/vendor/libmicrohttpd"]
	path = extra/vendor/libmicrohttpd
	url = https://git.gnunet.org/libmicrohttpd.git
[submodule "extra/vendor/Collections-C"]
	path = extra/vendor/Collections-C
	url = https://github.com/srdja/Collections-C.git
[submodule "extra/vendor/zlog"]
	path = extra/vendor/zlog
	url = https://github.com/HardySimpson/zlog.git
[submodule "extra/vendor/zstd"]
	path = extra/vendor/zstd
	url = https://github.com/facebook/zstd.git
[submodule "extra/vendor/libbpf/libbpf_repo"]
	path = extra/vendor/libbpf/libbpf_repo
	url = https://github.com/libbpf/libbpf.git
[submodule "extra/vendor/userspace-rcu"]
	path = extra/vendor/userspace-rcu
	url = git://git.liburcu.org/userspace-rcu.git
[submodule "extra/vendor/curl"]
	path = extra/vendor/curl
	url = https://github.com/curl/curl.git
[submodule "extra/vendor/blazesym"]
	path = extra/vendor/blazesym
	url = https://github.com/libbpf/blazesym.git
[submodule "extra/vendor/elfutils"]
	path = extra/vendor/elfutils
	url = git://sourceware.org/git/elfutils.git
[submodule "extra/vendor/cwisstable"]
	path = extra/vendor/cwisstable
	url = https://github.com/google/cwisstable.git
